Superheroes05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="male-heroes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="avg-height" type="avg-type" />
                <xs:element name="avg-weight" type="avg-type" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:simpleType name="avg-type">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0" />
            <xs:fractionDigits value="2" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
