Superheroes09.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="superheroes-with-superhero-relatives">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="superhero" type="superhero" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="superhero">
        <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="relative" type="xs:string" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>
